page-home {
    .btn-facebook {
        color: #FFF!important;
        background-color: #3b5998!important;
    }

    .btn-google-plus {
        color: #FFF!important;
        background-color: #dd4b39!important;
    }

    .btn-youtube {
        color: #FFF!important;
        background-color: #ff4b39!important;
    }

    .btn-twitter {
        color: #FFF!important;
        background-color: #55acee!important;
    }

    .btn-linkedin {
        color: #FFF!important;
        background-color: #007bb6!important;
    }

    .btn-mail {
        color: #FFF!important;
        background-color: #512da8!important;
    }
}
